.modal-content {
    border-radius: var(--bs-border-radius-xl);
}

@media (max-width: 767.98px) {
    .modal-content {
        border-radius: 0;
        min-height: 100vh;
    }

    .list-group-item {
        flex-direction: column;
        align-items: flex-start !important;
        gap: var(--spacing-xs);
    }
}
