@inherits LayoutComponentBase

<PageTitle>SonosControl.Web</PageTitle>

<div class="page">
    <div class="sidebar" style="background-image: linear-gradient(180deg, rgb(0, 0, 0) 0%, #808080 130%)">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
